__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/spamassassin/spam/*
data/raw/spamassassin/ham/*
data/raw/asvspoof_subset/*.flac
data/raw/asvspoof_subset/*.wav
data/processed/*.npy
!data/raw/spamassassin/spam/.gitkeep
!data/raw/spamassassin/ham/.gitkeep
!data/raw/asvspoof_subset/.gitkeep
!data/processed/.gitkeep

*.log
.DS_Store
Thumbs.db
